<%layout("layouts/boilerplate")-%>
<body>
  <div class="row">
    <h1 class="text-center">Add New Camp:</h1>
    <div class="col-6 offset-3">
      <form action="/campgrounds" method="post">
        <div class="mb-3">
          <label for="title" class="form-label">Name of Camp:</label>
          <input type="text" id="title" name="title" class="form-control" />
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">Location:</label>
          <input
            type="text"
            id="location"
            name="location"
            class="form-control"
          />
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Campground Price:</label>
            <div class="input-group>
                <span class="input-group-text" id="price-label">$</span>
                <input type="text" class="form-control" placeholder="0.00" aria-label="price" aria-describedby="price-label">
              </div>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image URL:</label>
            <input type="text" id="image" name="image" class="form-control" />
          </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description:</label>
          <textarea type="text" id="description" name="description" class="form-control" /></textarea>
        </div>
        <div class="mb-3">
          <button class="btn btn-success">Submitt</button>
        </div>
      </form>
    </div>
  </div>
  <a href="/campgrounds">Cancel</a>
</body>
