<%layout("layouts/boilerplate")-%>
<link rel="stylesheet" href="/stylesheets/stars.css" />
<body>
  <div class="row">
    <h1 class="text-center"><%=camp.title%></h1>
    <div class="col-6 offset-3">
      <form
        action="/campgrounds/<%=camp._id%>/reviews"
        method="post"
        class="needs-validation"
        novalidate
      >
        <div class="mb-3">
          <label for="body" class="form-label">Your Review:</label>
          <textarea
            name="body"
            id="body"
            cols="20"
            rows="5"
            required
            class="form-control"
          ></textarea>
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please enter a review.</div>
        </div>
        <div class="mb-3">
          <label for="rating" class="form-label">Rating:</label>
          <div class="input-group">
            <fieldset class="starability-basic">
              <legend>First rating:</legend>
              <input
                type="radio"
                id="no-rate"
                class="input-no-rate"
                name="rating"
                value="0"
                checked
                aria-label="No rating."
              />
              <input type="radio" id="first-rate1" name="rating" value="1" />
              <label for="first-rate1" title="Terrible">1 star</label>
              <input type="radio" id="first-rate2" name="rating" value="2" />
              <label for="first-rate2" title="Not good">2 stars</label>
              <input type="radio" id="first-rate3" name="rating" value="3" />
              <label for="first-rate3" title="Average">3 stars</label>
              <input type="radio" id="first-rate4" name="rating" value="4" />
              <label for="first-rate4" title="Very good">4 stars</label>
              <input type="radio" id="first-rate5" name="rating" value="5" />
              <label for="first-rate5" title="Amazing">5 stars</label>
            </fieldset>
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please enter a valid rating.</div>
          </div>
        </div>
        <div class="mb-3">
          <button class="btn btn-success">Submitt</button>
        </div>
      </form>
    </div>
  </div>
  <a href="/campgrounds">Cancel</a>
</body>
