<%layout("layouts/boilerplate")-%>
<div class="row">
  <h1 class="text-center">Register</h1>
  <div class="col-6 offset-3">
    <form action="/register" method="post" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          required
          type="text"
          id="username"
          name="username"
          class="form-control"
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter a valid username.</div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          required
          type="email"
          id="email"
          name="email"
          class="form-control"
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter a valid email.</div>
      </div>
      <div class="mb-3">
        <label for="username" class="form-label">Password</label>
        <input
          required
          type="password"
          id="password"
          name="password"
          class="form-control"
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter a valid password.</div>
      </div>
      <div class="mb-3">
        <button class="btn btn-info">Submitt</button>
      </div>
    </form>
  </div>
</div>
